<div class="message">

    <% if message.user == current_user %>
    <div class="message-same-user">
      <%= message.user.full_name %>:
    </div>
    <% else %>
    <div class="message-user">
      <%= message.user.full_name %>:
    </div>
    <% end %>

  <div class="message-content">
      <%= sanitize markdown_to_html(message.content) %>
    <% if message.user == current_user %>
      <div class="btn btn-danger delete-msg-btn" onclick="deleteMessage(this)" data="<%= message.to_param %>">x</div>
    <% end %>
  </div>
</div>