<div class="message">

    <% if message.user == current_user %>
    <div class="message-same-user">
      <%= message.user.full_name %>:
    </div>
    <% else %>
    <div class="message-user">
      <%= message.user.full_name %>:
    </div>
    <% end %>

  <div class="message-content">
    <%= message.content %>
  </div>
</div>