.img-circle {
  height: 50px;
  width: 50px;
}

.message-input {

  background-color: rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  height: 13%;
  padding: 0 5px 5px;

  input {
    display: none;
  }

  form {
    height: 100%;
  }

  textarea {
    height: 100%;
    width: 100%;
  }
}

.messages {
  background-color: #fff;
  box-shadow: 0 0 0 5px #f4f2ed inset;
  box-sizing: border-box;
  height: 400px;
  overflow: scroll;
  padding: 20px;
}

.messages-table {
  display: table;
  width: 100%;
}

.message {
  line-height: 1.6;
  display: table-row;
}

.message-user {
  font-weight: 500;
  display: inline-block;
  padding-left: 10px;
}

.message-same-user {
  font-weight: 500;
  font-style: italic;
  color: darkblue;
  display: inline-block;
  padding-left: 10px;
}

.delete-msg-btn {
  padding-right: 3px;
  padding-bottom: 2px;
  padding-left: 3px;
  padding-top: 2px;
  line-height: 0.85;
}

.messages-container {
  margin-top: 50px;
}

.very-small-txt {
  font-size: 10px;
}